@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

.grey {
    color: #6d6d6d;
}

.container {
    max-width: 1280px;
    margin: auto;
    padding: 0 8px;
}

/* Top-Bar  */

.top-bar {
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    border-bottom: 1px solid #eeeeee;
}

.top-bar .intro {
    grid-column: 2;
}

.top-bar p {
    justify-self: end;
}

/* Top-Bar End  */

/* Navbar  */

.navbar {
    width: 100%;
    min-height: 80px;
    border-bottom: 1px solid #eeeeee;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.navbar h1 {
    color: #ff335c;
    font-size: 24px;
}

.search {
    justify-self: center;
    width: 100%;
}

.search form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 300px;
    margin: auto;
    width: 100%;
    padding: 8px 12px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.search input {
    background: transparent;
    border: none;
    font-size: 1rem;
}

.search input:focus {
    outline: none;
}

.search i {
    font-size: 1rem;
    color: #ff335c;
}

.search button {
    border: none;
    background: transparent;
}

.menu {
    justify-self: end;
}

.nav-menu {
    display: flex;
}

.nav-menu li {
    padding-left: 1rem;
    font-size: .8rem;
}

.mobile-menu {
    cursor: pointer;
    display: none;
}

/* Navbar Ends */


/* Sort Bar  */

.sort-bar {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    color: #5e5e5e;
}

.sort-bar div {
    text-align: center;
}

.sort-bar i {
    font-size: 1.2rem;
}

.sort-bar p {
    font-size: 12px;
}

/* Sort Bar End  */

/* Listing */

.listing {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.listing .card {
    max-width: 300px;
    width: 100%;
    font-size: 0.9rem;
}

.listing .card-title {
    display: flex;
    justify-content: space-between;
}

.listing img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.listing p {
    padding-bottom: 4px;
}

img {
    border-radius: 15px;
}



/* Listing End */

/* featured  */

.featured {
    width: 100%;
    padding: 4rem 0;
}

.featured .title {
    padding: 1rem 0;
}

.featured h1 {
    border-bottom: 4px solid #ff335c;
    display: inline;
}

.featured-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
}

.featured img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.featured .main {
    grid-column: span 3;
    grid-row: span 2;
}



/* featured end  */

/* Media Queries */

@media screen and (max-width:940px) {
    .top-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar {
        grid-template-columns: repeat(2, 1fr);
    }

    .navbar .search {
        width: 100%;
        padding: 10px 0;
        order: 3;
        grid-column: 1 / 3;
    }

    .search form {
        max-width: 100%;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        background-color: #fff;
        flex-direction: column;
        top: 80px;
        height: 100%;
        width: 100%;
        transition-duration: 0.3s;
        padding-top: 0.8rem;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-menu li {
        font-size: 1.2rem;
        padding: 1rem;
    }

    .mobile-menu{
        display: block;
    }

    .listing {
        grid-template-columns: repeat(3, 1fr);
    }

    .featured-wrapper {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 300px);
    }

    .featured .main {
        grid-column: span 1;
        grid-row: span 1;
    }

}

@media screen and (max-width:680px) {
    /* Top-Bar */

    .top-bar .intro, p {
        font-size: 0.8rem;
    }

    .listing {
        grid-template-columns: repeat(2, 1fr);
    }

    .featured-wrapper {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 300px);
    }

    .featured .main {
        grid-column: span 1;
        grid-row: span 1;
    }

}

















